html, body {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'noto';
	src: url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
		 url('../fonts/notosans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
    margin-bottom: 1px;

}

#endemol-game {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
}

#rotate-warning{
	display: none;

	background-image: url('./rotate.gif');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;

	width: 100%;
	min-height: 0px;
}

canvas {
    width: 100%;
}

/* element placed offscreen to facilliate iOS scroll behaviour */
#iosScrollFix {
	width: 100%;
	height: 2px; 
	position: absolute; 
	top: 101%;
}

#iosScrollWarningDisplay,#iosScrollWarningDisplay:before {
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#iosScrollWarningDisplay {
	background-color: rgba(0,0,0,1);
}

#iosScrollWarningDisplay:before {
	content: "";
    background-image: url("./swipeicon.gif");
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

/* force load of webfont before app*/
.preload-font {
    font-family: noto;
    position: absolute;
    top: -100%;
}
